<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}

        <header id='header'>
            <a id='logo' href="/">Logo</a>
            <nav id='nav'>
                <button id='btn-mobile'>Menu
                    <span id='hamburger'></span>
                </button>
                <ul id='menu'>
                    {% block menu %}
                        <li><a class="{{ 'active' if active_page == 'home' else '' }}" href="/">Inicio</a></li>
                        <li><a class="{{ 'active' if active_page == 'index' else '' }}" href="/explorer">Explorar</a></li>
                        <li><a class="{{ 'active' if active_page == 'register' else '' }}" href="/register">Registre-se</a></li>
                        <li><a class="{{ 'active' if active_page == 'login' else '' }}" href="/login">Login</a></li>
                    {% endblock %}
                </ul>
            </nav>
        </header>

    {% endblock %}

    {% block main %}
    {% endblock %}

    <script src="{{url_for('static', filename='scripts/mobile.js')}}"></script>
</body>
</html>