{% extends 'base.html' %}
{% set active_page = 'index' %}
{% block style %} <link rel="stylesheet" href={{ url_for('static', filename='css/index.css') }}> {% endblock %}
{% block title %}Home{% endblock %}

{% block main %}

    <main>

        <section class="info">
            <h1>Ultimas imagens postadas</h1>
        </section>

        <section class="images-container">
            
            {% for img in images %}
                <div class="image" id='image'>
                    <img src="/static/images/uploads/{{ img.file_name }}" alt="{{ img.file_name }}">
                    <div class="img-info">
                        <h4>Postado por: {{img.owner_username}}</h4>
                    </div>
                </div>       
            {% endfor %}

        </section>

    </main>

{% endblock %}


