{% extends 'base.html' %}

{% block title %}Login{% endblock %}
{% block style %} <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/login.css') }}> {% endblock %}

{% block main %}

    <main>
        <div class="form">
            <form action="/login" method="POST">
                <div class="label"><label for="">Login</label></div>
                <div>
                    <input class="input" type="text" name="username" required autocomplete="off" placeholder="Nome de usuário">
                </div>
                <div>
                    <input class="input" type="password" name="password" required placeholder="Sua senha">
                </div>
                <div class="submit">
                    <input type="submit" value="Entrar">
                </div>
                {% with messages = get_flashed_messages(with_categories=True) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="{{ category }}">
                                <h3>{{ msg }}</h3>
                            </div>
                        {% endfor%}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>

{% endblock %}