{% extends 'base.html' %}
{% set active_page = 'register' %}
{% block title %}Cadastro de Usuario{% endblock %}
{% block style %} <link rel="stylesheet" href={{url_for('static', filename='css/register.css')}}> {% endblock %}


{% block main %}

    <main>
        <div class="form">
            <form action="/register" method="POST">
                <div>
                    <input class="input" type="text" name="nome" required autocomplete="off" placeholder="Seu nome completo">
                </div>
                <div>
                    <input class="ipnut" type="text" name="username" required autocomplete="off" placeholder="Nome de usuario" minlength="4" maxlength="30">
                </div>
                <div>
                    <input type="email" name="email" required autocomplete="off" placeholder="Seu e-mail">
                </div>
                <div>
                    <input type="password" name="password" required placeholder="Senha">
                </div>
                <div>
                    <input type="password" name="re-password" required placeholder="Confirmar senha">
                </div>
                <div>
                    <input type="submit" value="Registrar">
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}              
                            <div class="{{ category }}">
                                <h3>{{ msg }}</h3>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>

{% endblock %}