{% extends 'base.html' %}

{% block title %}Pagina do usuario{% endblock %}
{% block style %} <link rel="stylesheet" href={{ url_for('static', filename='css/user.css') }}> {% endblock %}

{% block menu %}
    <li><a href="/profile">Perfil</a></li>
    <li><a href="/logout">Deslogar</a></li>
{% endblock %}

{% block main %}
    <main>

        <section class="upload">
            <div></div>
            <div class="box">
                <form action="/upload" method="POST" enctype="multipart/form-data">
                    <label for="image"><div class="label"><h1>+</h1></div></label>
                    <input type="file" name="image" id="image" onchange="this.form.submit()">
                </form>
            </div>

        </section>

        <section class="content">
            {% for img in images %}
                <div class="image-box">
                    <div class="img">
                        <img src='static/images/uploads/{{ img.file_name }}' alt={{ img.file_name }}>
                    </div>
                    <div class="actions">
                        <form action="/delete_image" method="POST">
                            <input type="hidden" name="image" value="{{ img.id }}" name="deletar">
                            <button id="deletar">Deletar</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </section>

    </main>

    <!-- <script src={{url_for('static', filename='scripts/user.js')}}></script> -->
{% endblock %}